html {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/*header*/

.header {
  color: white;
  background-color: rgba(171,182,55,1);
  padding-top: .1em;
  padding-bottom: .1em;
}

/*navigation*/
nav {
  text-align: center;
  width: 100%;
  padding: 0;
  background-color: rgba(171,182,55,1);
}

nav ul {
  display: inline-block;
  width: 100%;
  padding:0;
  overflow: hidden;
  background-color: rgba(171,182,55,1);
  overflow: hidden;
}

.logo {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  background: #fff;
}

li img{
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;

}

nav li {
  display: inline;
  margin-bottom: 0.2em;
  margin-top:0.2em;
  /*float: both;*/
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  width: 33%;
  box-sizing: border-box;
  line-height: 1.5em;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: white;
}

nav li:hover{
  background-color: green;
}

/*banner*/

.banner {
  height: 220px;
}

h1 {
  text-shadow: 2px 2px #000000;
  position: relative;
  bottom: 3.5em;
  margin: 0;
  color: white;
  text-align: center;
  width: 100%;
}
/*main*/

.stars {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: .5em;
  width: 30%;
}

h2 {
  width: 100%;
  text-align: center;
}

h3 {
  padding-left: .5em;
  color: rgba(171,182,55,1);
}

img {
  width: 100%;
}

p {
  width: 100%;
  position: relative;
  display: block;
  padding-left: 1em;
}

figcaption {
  padding-right: 1em;
  padding-left: 1em;
  font-style: italic;
  text-align: right;
}

.contact {
  text-align: center;
}
/*footer*/
h4, .to-top {
  text-align: center;
  color: white;
  background-color: rgba(171,182,55,1);
  padding-top: .1em;
  padding-bottom: .1em;
}
